<nav class="navbar navbar-default btn-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Dinnder", main_path, class: "navbar-brand text-white" %><%= image_tag('http://users.ininet.hu/retroboys/img/etlap.png', class: "navbar-brand") %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle text-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= @current_user.display_name %><span style="font-size:200px;" class="caret"></span></a>
          <ul class="dropdown-menu btn-primary btn-padder disabled">
            <li>
              <%= bootstrap_form_tag url: search_path do |f| %>
                <%= f.text_field :q, placeholder: "Search for...", hide_label: true, class: " icon-search" %>
                <i class="icon-search"></i>
                <% f.primary "Search" %>
              <% end %>
            </li>
            <li class="dropdown-item"><%= link_to "Home", main_path, class: "dropdown-item text-white" %></li>
            <li class="dropdown-item"><%= link_to "My Favorites", favorites_path, class: "dropdown-item text-white" %></li>
            <li class="dropdown-item"><%= link_to "About", about_path, class: "dropdown-item text-white" %></li>

            <li role="separator" class="divider"></li>
            <li><%= link_to "Logout",logout_path, class: "dropdown-item text-white" %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>